.divpublicacion {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;

}

.divboton {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}